@import "tailwindcss";

@theme {
  --font-display: "Work Sans", sans-serif;
  --color-primary: #13ec13;
  --color-primary-hover: #0fb80f;
  --color-background-dark: #102210;
  --color-surface-dark: #1a2e1a;
  --color-surface-darker: #141f14;
}

@layer base {
  body {
    @apply font-display bg-background-dark selection:bg-primary selection:text-background-dark;
  }
}